body {
    width: 100%;
    /*width: 1440px;
    border: 1px solid red;*/
    min-width: 1440;
    background: #002B6B url(../images/background.png) center fixed no-repeat;
    color: #3CE7DA;
    font-size: 90%;
    opacity:1;
}

.container { width: 100%; height: 100%; max-width: 100%; }
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 255.2);
    background: rgba(255, 255, 255, 0.2);
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2);
    border-radius: 0;
    background: rgba(255, 255, 255, 0.1);
}

span { display: inline; }
.col-3, .col-xs-3 { width: 25%; float: left; }
.col-6, .col-xs-6 { width: 50%; float: left; }
.col-9, .col-xs-9 { width: 75%; float: left; }
.col-12, .col-xs-12 { width: 100%; float: left; }
.col-4, .col-xs-4 { width: 33.33%; float: left; }
.col-8, .col-xs-8 { width: 66.66%; float: left; }
.col-5, .col-xs-5 { width: 41.66%; float: left; }
.col-7, .col-xs-7 { width: 58.33%; float: left; }
.pull-left { float: left; }
.pull-right { float: right; }

input::-webkit-input-placeholder {
    color: #fff;
}


.table { width: 100%; line-height: 2; }
.table th { font-weight: bold; padding: 0; text-align: left; padding: 12px;  }
.table th, .table td { color:#3CE7DA; min-width: 130px;
    border-color:rgba(255,255,255,.5);  word-break:keep-all; }
.table td { font-weight: normal; }
.table thead th { border-top: none; font-size: 18px; border-bottom-width: 1px; }

.mb20 { margin-bottom: 20px; }
.ml20 { margin-left: 20px; }
hr { border-top: 0.9px solid rgba(255,255,255,.5); }


.echart { height: 350px; }
.mg-b-0 { margin-bottom: 0px; }
.text-center { text-align: center; }

.form-control { background: none;border: none; outline: none; color: #fff;
border: 1px solid rgba(255,255,255,.5); background:rgba(255,255,255,0.1); color: #fff; margin:0 10px; }
.submit {
    margin: 0px;
    padding: 0 15px;
    box-sizing: border-box;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    border: 1px solid #01d1f2;
    background:rgba(60, 231, 218, 0.5);
    color: #fff;
    cursor: pointer;
}

.dropdown-menu { }
.dropdown-menu > li { margin:0 5px; font-weight: normal; padding: 5px 10px; cursor: pointer; }
.dropdown-menu > li:hover { background: rgba(60, 231, 218, 0.5); }

.icons { display: inline-block; width: 20px; height: 20px; background-size:100% 100%;  vertical-align: middle; position: relative; top:-2px; }
.weather_icon { width: 35px; height: 35px; float: left; margin-top: 10px; }

.icon-elec { background-image: url(../images/icon-elec.png); width: 30px; height: 30px;  }
.icon-water { background-image: url(../images/icon-water.png); width: 30px; height: 30px;  }
.icon-persons { background-image: url(../images/icon-persons.png); }
.icon-person { background-image: url(../images/icon-person.png); }
.icon-area { background-image: url(../images/icon-area.png); }
.icon-chart { background-image: url(../images/icon-chart.png); }
.icon-safe { background-image: url(../images/icon-safe.png); }
.icon-camera-s { background-image: url(../images/icon-camera-s.png); }
.icon-warning { background-image: url(../images/icon-warning.png); }

.icon-device { background-image: url(../images/icon-device.png); }
.icon-xfsb { background-image: url(../images/icon-xfsb.png); }
.icon-fs { background-image: url(../images/icon-fs.png); }
.icon-pie { background-image: url(../images/icon-pie.png); }
.icon-building { background-image: url(../images/icon-building.png); }
.icon-deviceRoom { background-image: url(../images/icon-deviceRoom.png); }

.icon-temp { width: 70px; height: 70px; background-image: url(../images/icon-temp.png); }
.icon-humidity { width: 70px; height: 70px; background-image: url(../images/icon-humidity.png); }
.icon-leak { width: 90px; height: 90px; background-image: url(../images/icon-leak.png); }

.icon-off { background-image: url(../images/icon-off.png); }
.icon-on { background-image: url(../images/icon-on.png); }
.icon-off-g { background-image: url(../images/icon-off-g.png); }
.icon-line { background-image: url(../images/icon-line.png); }

.icon-bpd { background-image: url(../images/menu_L_bpd.png);  }
.icon-dtyx { background-image: url(../images/menu_L_dtyx.png);  }
.icon-ggzm { background-image: url(../images/menu_L_ggzm.png);  }
.icon-mjgl { background-image: url(../images/menu_L_mjgl.png);  }
.icon-nhjl { background-image: url(../images/menu_L_nhjl.png);  }
.icon-ntkt { background-image: url(../images/menu_L_ntkt.png);  }
.icon-spjk { background-image: url(../images/menu_L_spjk.png);  }
.icon-xfxt { background-image: url(../images/menu_L_xfxt.png);  }

.icon-lm-fengjipanguan { background: url(images/icon-wind-on.png); }
.icon-xinfeng { background:#666 url(../images/icon_xinfeng.png); }
.icon-panguan { background:#666 url(../images/icon_panguan.png); }
.icon-camera { background-image: url(../images/icon-canera2.png); }

.icon-shuibeng { background-image: url(../images/shuibeng_1.png)  }
.icon-pump { background-image: url(../images/icon-pump.png)  }
.icon-vidio { background-image: url(../images/icon-vidio.png)  }

.icon-guandaoyali { background-image: url(../images/icon-guandaoyali.png); 管道压力 }
.icon-yewei { background-image: url(../images/icon-yewei.png); 水箱液位 }
.icon-meihuoqi { background-image: url(../images/icon-meihuoqi.png); 灭火器 }
.icon-shuijin { background-image: url(../images/icon-shuijin.png); 水浸报警器 }
.icon-wenshidu { background-image: url(../images/icon-wenshidu.png); 水浸报警器 }
.icon-ranqifa { background-image: url(../images/icon-ranqifa.png); 燃气阀 }
.icon-ranqibaojingqi { background-image: url(../images/icon-ranqibaojingqi.png); 燃气报警器 }
.icon-yangan { background-image: url(../images/icon-yangan.png); 烟感 }
.icon-wangguan { background-image: url(../images/icon-wangguan.png); 网关 }

/**
火灾报警系统
智能烟感 device_smoke_sensor
风机 device_wind_machine
独立可燃气体 device_air_sensor
报警主机点位 device_fire_host

电气火灾监控系统
在线检查 device_check_online
故障电弧 device_arcing
灭弧 device_xl_protected
防火卷帘门 device_fire_rollup_door
防火门 device_fire_door

消防水柜控制系统
压力表 device_pressure_sensor
水流表 device_flow_table
液位仪 device_liquid_level
水泵 device_water_pump
**/
.icon-device_smoke_sensor { background: url(images/device_smoke_sensor.png); }
.icon-device_wind_machine { background: url(images/device_wind_machine.png); }
.icon-device_air_sensor { background: url(images/device_air_sensor.png); }
.icon-device_fire_host { background: url(images/device_fire_host.png); }
.icon-device_check_online { background: url(images/device_check_online.png); }
.icon-device_arcing { background: url(images/device_arcing.png); }
.icon-device_xl_protected { background: url(images/device_xl_protected.png); }
.icon-device_fire_rollup_door { background: url(images/device_fire_rollup_door.png); }
.icon-device_fire_door { background: url(images/device_fire_door.png); }
.icon-device_pressure_sensor { background: url(images/device_pressure_sensor.png); }
.icon-device_flow_table { background: url(images/device_flow_table.png); }
.icon-device_liquid_level { background: url(images/device_liquid_level.png); }
.icon-device_water_pump { background: url(images/device_water_pump.png); }


/** 页面中间加载动画 */
._loading {
    background: rgba(0,0,0,.2);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}
._loading .loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
._loading figure { 
  position: absolute;
  margin: auto;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 6.250em; height: 6.250em;
  animation: _rotate 2.4s linear infinite;
}
._loading .white { 
  top: 0; bottom: 0; left: 0; right: 0; 
  background: white; 
  animation: _flash 2.4s linear infinite;
  opacity: 0;
}
._loading .dot {
  position: absolute;
  margin: auto;
  width: 2.4em; height: 2.4em;
  border-radius: 100%;
  transition: all 1s ease;
}
._loading .dot:nth-child(2) { top: 0; bottom: 0; left: 0; background: #FF4444; animation: _dotsY 2.4s linear infinite; }
._loading .dot:nth-child(3) { left: 0; right: 0; top: 0; background: #FFBB33; animation: _dotsX 2.4s linear infinite; }
._loading .dot:nth-child(4) { top: 0; bottom: 0; right: 0; background: #99CC00; animation: _dotsY 2.4s linear infinite; }
._loading .dot:nth-child(5) { left: 0; right: 0; bottom: 0; background: #33B5E5; animation: _dotsX 2.4s linear infinite; }
@keyframes _rotate {
  0% { transform: rotate( 0 ); }
  10% { width: 6.250em; height: 6.250em; }
  66% { width: 2.4em; height: 2.4em; }
  100%{ transform: rotate(360deg); width: 6.250em; height: 6.250em; }
}
@keyframes _dotsY {
  66% { opacity: .1; width: 2.4em; }
  77%{ opacity: 1; width: 0; }
}
@keyframes _dotsX {
  66% { opacity: .1; height: 2.4em;}
  77%{ opacity: 1; height: 0; }
}
@keyframes _flash {
  33% { opacity: 0; border-radius: 0%; }
  55%{ opacity: .6; border-radius: 100%; }
  66%{ opacity: 0; }
}
/** 页面中间加载动画 */

/** login **/
.login {}
.login input, .login button {background: none;border: none;outline: none;-webkit-appearance: none;}
.login input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    background-color: none;
}
.login input:-webkit-autofill { 
  box-shadow: 0 0 0px 1000px #130F6E inset !important; 
  text-fill-color: white;
  -webkit-text-fill-color: white; 
}
.particles { position: absolute; z-index: 1; top:10px; left: 10px; right: 10px; bottom: 10px; }
.boardLogin { position: absolute; z-index: 2; width: 300px; top: 40%; left: 50%; margin-left: -150px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.boardLogin h1 { font-size: 140%; margin-bottom: 30px; }
.boardLogin .logo{
  display: block;
  margin-bottom: 30px;
  text-align: center;
}
.boardLogin .logo img{
  width: 100%;
  max-width: 326px;
}
.boardLogin .inpGroup{
  height: 32px;
  padding: 6px 16px 6px 46px;
  background: #2a658a;
  background: rgba(255,255,255,0.1);
  border-radius: 16px;
  position: relative;
}
.boardLogin .inpGroup span{
  display: block;
  width: 18px;
  height: 18px;
  top: 6px;
  left: 16px;
  position: absolute;
}
.boardLogin .inpGroup span.loginIco1{
  background: url(../images/s_ico6.png);
  background-size: 100% 100%;
}
.boardLogin .inpGroup span.loginIco2{
  background: url(../images/s_ico7.png);
  background-size: 100% 100%;
}
.boardLogin .inpGroup input{
  display: block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  color: #fff;
}
.boardLogin .inpGroup input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff; opacity:1; 
}

.boardLogin .inpGroup input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;opacity:1;
}

.boardLogin .inpGroup input:-ms-input-placeholder{
    color: #fff;opacity:1;
}

.boardLogin .inpGroup input::-webkit-input-placeholder{
    color: #fff;opacity:1;
}
.boardLogin .prompt{
  min-height: 20px;
  padding: 2px 16px 6px 16px;
}
.boardLogin p{
  line-height: 16px;
  font-size: 12px;
  display: none;
  
}
.boardLogin p.error{
  color: #f60;
}
.boardLogin p.success{
  color: #449d44;
}
.boardLogin .submit{
  width: 100%;
  box-sizing: border-box;
  display: block;
  height: 32px;
  line-height: 30px;
  border-radius: 16px;
  text-align: center;
  border: 1px solid #01d1f2;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.boardLogin .submit:hover{
  background: #01d1f2;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
/** login end **/

.leftFoot li { padding-left: 0px; font-size: 90%; }
.dot { list-style:inside circle; }

.bar { width: 100%; height: 12px; display: inline-block; vertical-align: middle; background:rgba(60, 231, 218, 0.1);  }
.bar-inline { width: 100%; height: 100%; display: block; background:rgba(60, 231, 218, 1);  }

.header { text-align: center; font-size: 150%; margin-bottom: 15px; font-weight: bold; }
.header .left { float:left; background: url(../images/headLeft.png) left no-repeat; background-size:185%; width:25%; height: 7vh; line-height: 5vh; }
.header .right { float:right; background: url(../images/headRight.png) right no-repeat; background-size:185%; width:25%; height: 7vh; line-height: 5vh; font-size: 90%;  }
.header .center { background: url(../images/headCenter.png) center no-repeat; background-size:33.3333% 100%; font-size: 130%; line-height: 7vh; }

.home .content { margin-top: 30px; }
.home .row { display: block; }
.home .col-12 { padding-left: 0px; padding-right: 0px; }

.content { font-size: 100%; }
.content > div {}
.content .title { font-weight: bold; }
.content > .left { float:left; width:22%; height: 87vh; position:fixed; margin-top: -40px; margin-bottom: -40px; left: 0px;}
.content > .right { width:23%; height: 87vh; position:fixed; margin-top: -40px; margin-bottom: -40px; right: 0px; }
.content > .center { margin:0 23%; height: 87vh; }

.content > .center .center-title { position:absolute; top:85px; left:45%; }

.content > .left .summary { margin: 10px 0 20px 8px; }
.content > .left .summary .title { margin-left:10px; font-size: 120%;  }
.content > .left .summary ul { margin: 10px 10px 0; }
.content > .left .summary ul li { line-height: 2; }

.content > .left .summary .sp { font-family: "digifacewide"; font-size: 200%; font-weight: normal; }

.content > .left .block, .content > .left .leftFoot { background: rgba(60, 231, 218, 0.1); border: 0.9px solid rgba(255,255,255,.5);
 margin:0 8px 8px; padding:12px 10px 5px; }
.content > .left .block .title {font-size: 100%; font-weight: bold; }
.content > .left .block ul { margin: 15px 0px; padding: 0px; }
.content > .left .block ul li { list-style: none; line-height: 1.6; }
.content > .left .block .bar { width: 50%; }

.content > .left .block .echart { height: 150px; }
.content > .left .leftFoot { margin-top:-10px; border-top:none; padding-top:10px; }

.content > .left .tb  { width: 45%; }
.content > .left .tb .tbinner { font-size: 80%; padding: 12px 5px 0px 0px; }
.content > .left .tb .col-6 { line-height: 1.75; padding-left:0px; padding-right: 0px; }

.content > .left .dd p { font-size: 16px; font-weight: normal; margin:5px auto; }
.content > .left .dd p.st { margin-top: 15px; }
.content > .left .dd p.big { display: block; font-size: 20px; }
.content > .left .dd .err { color: red; }

.content > .center .title { font-size: 110%; margin-bottom: 2vh; }
.content > .center .summary { margin: 6vh 0 2vh 2vw; text-align: left; }
.content > .center .summary .title div { font-family: "digifacewide"; font-size:240%; font-weight: normal; }

.content > .center iframe { width:98.5%; height: 525px; margin-top:15px; border: none; background: transparent; }


.content > .center .block .echart { height: 140px; }

.content > .center .medias { display: block; }
.content > .center .medias .title { margin-bottom: 5px; margin-left: 20px; }
.content > .center .media { float: left; margin: 1vh 0; }
.content > .center .col-12 .media { width:25%; }
.content > .center .col-6 .media { width:50%; }
.content > .center .media .leftImg { width: 88px; float: left; margin-left:8px; }
.content > .center .media .leftImg img { width: 90%; margin-left: 10%; }
.content > .center .media .rightBlock { width: 50%; margin-left: 5%; float: right; font-size:16px; line-height: 1.8; }
.content > .center .pd10 { padding: 0 2.5%; }

.content > .center .point { width: 8px; height: 8px; border-radius: 20px; box-shadow: 1px 1px 6px red; background:red; border:2px solid rgba(255,255,255,0.5); position: absolute; }
.content > .center .pointMz { margin-top: 210px; margin-left: 305px; }
.content > .center .pointJs { margin-top: 120px; margin-left: 490px;  }
.content > .center .pointRt { margin-top: 250px; margin-left: 430px; }
.content > .center .pointBj { margin-top: 270px; margin-left: 670px; }
.content > .center .pointJx { margin-top: 165px; margin-left: 375px; width: 18px; height: 18px; -webkit-animation: animat 1s; -webkit-animation-iteration-count: infinite; -webkit-animation-direction: alternate; }
.content > .center .pointHy { margin-top: 400px; margin-left: 510px; }
.content > .center .link { cursor: pointer; text-align: center; line-height: 100px; color: #444; font-size: 12px; position: absolute; 
    width: 75px; height: 75px; border:1px solid #a;  } 
.content > .center .linkMz { margin-top: 185px; margin-left: 270px; }
.content > .center .linkJs { margin-top: 100px; margin-left: 450px; width: 100px;  }
.content > .center .linkRt { margin-top: 230px; margin-left: 400px; }
.content > .center .linkBj { margin-top: 250px; margin-left: 630px; width: 100px; }
.content > .center .linkJx { margin-top: 145px; margin-left: 345px; font-size: 14px; font-weight: bold; line-height: 120px;
width: 85px; height: 85px; }
.content > .center .linkHy { margin-top: 380px; margin-left: 480px; }

@keyframes animat
{
    from {box-shadow: 0px 0px 5px red;}
    to {box-shadow: 0px 0px 30px red;}
}
@-webkit-keyframes animat
{
    from {box-shadow: 0px 0px 5px red;}
    to {box-shadow: 0px 0px 30px red;}
}


.content > .right {}
.content > .right .content-right-weather { width: 55%; float: left; padding-bottom: 15px; margin-right: 15px; margin-bottom: 15px; border-right:0.9px solid rgba(60, 231, 218, 1);  }
.content > .right .content-right-weather .temperature { float: left; margin-left: 10px; }
.content > .right .content-right-weather .current-temp { font-size: 200%; }
.content > .right .content-right-weather .current-city { vertical-align: bottom; }

.content > .right .title { font-size: 100%; }

.content > .right .visitor { padding:0px 20px 10px 80px; line-height: 1.8; font-size: 90%; }

.content > .right .block { background: rgba(60, 231, 218, 0.1); border: 0.9px solid rgba(255,255,255,.5);
 margin:0 8px 8px; padding:12px 10px 5px; }
 .content > .right .block .chart { margin-bottom: 6.6667px; }
.content > .right .block .iframe { width: 48%; height: 100px; margin:5px 1% 0px 1%; border:none; float: left; overflow: hidden; }
.content > .right .block .iframe iframe { width: 100%; height: 100%; }

.content > .right .block .table { margin: 10px 0; line-height: 1.6; font-size: 16px; }
.content > .right .block .table th { padding-bottom: 5px; }

.content > .right .medias .title { margin-bottom: 10px; }
.content > .right .media { float: left; margin: 1vh 0.5%; width: 48%; }
.content > .right .media .leftImg { width: 40%; float: left; margin-right: 10px; }
.content > .right .media .leftImg img { width: 90%; }
.content > .right .media .rightBlock { font-size: 90%; line-height: 1.5; }
.content > .right .media .rightBlock b { font-weight: bold; }

.mlr20 { margin: 0 5px 0 20px; padding: 10px 10px; }
.border { border: 0.9px solid rgba(255,255,255,.5); }

.diandu .icon-inner { width: 25px; height: 100px; float: left; }
.diandu p { font-size: 14px; margin-block-start: 8px; margin-block-end: 6px; }
.diandu p.t { text-align: left; font-weight: bold; padding-bottom:8px;  border-bottom:1px solid rgba(255,255,255,.5); }
.diandu p.b { border: 1px solid rgba(255,255,255,.5); padding: 2px 6px; display: inline; }

.warning { width: 99%; margin-top: 10px; }


.innerPage .innerLeft { width: 20%; max-width: 20%; flex:none; }
.innerPage .innerRight { width: 80%; max-width: 80%; flex:none; }

/*左侧宽的菜单*/
.innerPage .leftWidth .innerLeft { width: 30%; max-width: 30%; }
.innerPage .leftWidth .innerRight  { width: 70%; max-width: 70%; }

.innerPage .innerLeft .leftNavP, .innerPage .innerLeft .leftNavC { float: left; width: 50%; height: 760px; overflow: auto; }
.innerPage .innerLeft .leftNavP { border-top-right-radius:0px; border-bottom-right-radius: 0px; }
.innerPage .innerLeft .leftNavC { border-top-left-radius:0px; border-bottom-left-radius: 0px; border-left:none; }
.innerPage .innerLeft .leftNavC ul { padding-left: 15px; }
.innerPage .innerLeft .leftNavC ul li { padding: 5px 15px; }

.innerPage .block { background: rgba(60, 231, 218, 0.1); border: 0.9px solid rgba(255,255,255,.5);
 margin:0 8px 8px; padding: inherit; }
.innerPage .innerLeft .block { margin: 0px; }
.innerPage .title { margin:0px 0 10px 0; padding: 0px 0 0px 15px; font-size:120%; border-bottom: 1px solid rgba(255,255,255,.5);
    padding-bottom: 15px; border-bottom: 0.9px solid rgba(255,255,255,.5); }


.innerLeft ul.block { padding-left:0px; padding-top:0px; padding-right:0px;  }
.innerLeft .block li { list-style:none; padding: 10px 15px; margin: 5px; cursor: pointer; }
.innerLeft .block li.active { color: #fff; background-color:rgba(60, 231, 218, 0.3); }
.innerLeft .block li.disabled { opacity: 0.5; cursor:not-allowed; }
.innerLeft .block li.title { margin:0px; font-size: 120%; cursor: default; }
.innerLeft .block li.search { padding-top: 5px; }
.innerLeft .block li.search .form-control { margin:0px; height: 30px; font-size: 100%; padding: 3px 8px; }
.innerLeft .block li.search .submit { margin-top: 20px; width: 100%; border-radius: 5px; }
.innerLeft .block hr { margin-bottom: 0px; }
.innerLeft .block p { margin:5px 0; }
.innerLeft .fa { margin-right: 10px; }

.innerLeft ul ul { margin: 0px; padding: 0px; }
.innerLeft ul ul li { padding: 0px; margin:0px; }
.innerLeft ul li h4 { font-size: 120%; font-weight: bold; }

.innerRight .title {  }
.innerRight .title .fa { margin-right:10px; }
.innerRight .block { background: rgba(60, 231, 218, 0.1); border: 0.9px solid rgba(255,255,255,.5);
    margin:0 8px 8px; box-shadow: none; padding: 12px 20px; }
.innerRight .block .body {  }
.innerRight .block .table-responsive { max-height: 300px; }

.innerRight .summaryHeader {}
.innerRight .summaryHeader .col { width: 20%; }
.innerRight .summaryHeader .title { padding-bottom: 10px; border-bottom-style: dashed; }
.innerRight .summaryHeader .titleVal { margin: 5px 15px; font-size: 160%; font-family: "BebasNeueRegular"; }
.innerRight .summaryHeader p { margin: 0px 15px; }

.innerRight .media { display: block; font-size: 24px; padding-bottom: 50px; }
.innerRight .media .title { display: block; }
.innerRight .media .leftImg { width: 170px; position: absolute; }
.innerRight .media .leftImg .img { width: 75%; }
.innerRight .media .rightBlock { margin-left: 170px; font-size: 20px; line-height: 2; }

.innerRight .summary > div { font-size: 18px; display: inline-block; border-right: 1px solid rgba(255,255,255,.5);
    padding: 0 25px;  }
.innerRight .summary > div:last-child { border:none;  }
.innerRight .summary .btn-group .dropdown-menu { left: inherit; right: 25px; }

.innerRight .floor { overflow: auto; }
.innerRight .floor-out { position: relative; }

.block { border-radius: 6px; box-shadow: 2px 2px 5px rgba(1, 1, 1, 0.3); }
.modal { background: rgba(0,0,0,0.3); color: #333; }
.modal .form-control { border: 1px solid #ced4da; border-radius: .25rem; color:#495057; font-size: 100%; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
.modal .form-group { overflow: auto; padding: 4px 20px; line-height: 2.4; }
.modal .modal-header .close { position: absolute; right: 17px; top: 12px; }
.modal .modal-title { font-size: 120%; }
.modal .form-group .col-xs-4 { width: 20%; text-align: right; }
.modal .form-group .col-xs-8 { width: 80%; }

/** 设备地图 **/
.floor-out { position: relative; }
.floor .dynamicPlot { position: absolute; z-index: 1000; text-align: center; }
.floor .actived { border: 2px dashed red; }
.floor img { position: relative; z-index: 100; }


ul.bar_tabs { margin: 20px auto; padding-bottom:20px; text-align: center; font-size: 100%; }
ul.bar_tabs li { padding: 5px 20px; border: 1px solid rgba(255,255,255,.5); border-radius: 5px; margin-right: 20px; }
ul.bar_tabs li.active { background: rgba(60, 231, 218, 0.25); color:rgba(255,255,255,.9); }

.dynamicPlot {
    width: 30px;
    height: 30px;
    padding: 3px;
    border: 2px dashed transform;
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-position: center center;
    border-radius: 50%;
    opacity: 0.5;
    /*animation: warn 2s infinite;
    background-color: rgba(255,15,15, 0.85);*/
}
.dynamicPlot img { max-width:100%; max-height: 100%; }
@keyframes warn {
    100% {
        transform: scale(0.6);
        opacity: 0.5;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    0% {
        transform: scale(0.6);
        opacity: 0.5;
    }
}



/* 能耗页 */
.energy {}
/*.energy .card .card-header { border-bottom: 0.9px solid rgba(255,255,255,.5); }

.energy .card .card-header h3 { color: #3CE7DA; font-weight: bold; font-size: 24px; line-height: 30px; }
.energy .table-responsive { max-height: 400px; }
.energy .table-dark { background:none; }
.energy .table th, .energy .table td { padding: 12px; color:#3CE7DA; min-width: 130px;
    border-color:rgba(255,255,255,.5);  word-break:keep-all;  }
.energy .table th { border-top: none; font-size: 18px; }*/

/*.camera .block,
.warning .block,
.device .block { background: rgba(60, 231, 218, 0.1); border: 0.9px solid rgba(255,255,255,.5);
    margin:0 8px 8px; box-shadow: none; padding: 12px 20px; }*/

.camera .innerRight .block .body { max-height:840px; overflow: auto; }
.warning .innerRight .block .body { max-height:790px; overflow: auto; }
.device .innerRight .block .body { min-height:650px; max-height: 650px; overflow: auto; }
.statistics .innerRight .block .body { min-height:730px; max-height: 730px; overflow: auto; }

.camera .iframe { width: 100%; height: 680px; border:none; overflow: hidden; }
.camera .iframe iframe { width: 100%; height: 100%; overflow: hidden; }

.camera .modal .closeBox { position: absolute;right:-30px; top: -30px; font-size: 40px; line-height: 1.35; color: #fff;
    width: 60px; height: 60px; text-align: center; border-radius: 50%; background: rgba(255,15,15, 0.85); }

.powerDispatch .block .body { max-height: 900px; }
.powerDispatch .block .body .title { text-align: center; margin:10px auto; border: none; }
.powerDispatch .chart { min-height: 650px; display: block; overflow: auto; }
.powerDispatch .chart .line { position: absolute; border: none; border-top:2px solid rgba(60, 231, 218,1); }
.powerDispatch .chart .vline { }
.powerDispatch .chart .hline { transform:rotate(90deg); transform-origin: top left; }
.powerDispatch .chart .data { position: absolute; }
.powerDispatch .chart .data .v { color: rgb(50,255,50); }
.powerDispatch .chart .notice, .powerDispatch .chart .notice .v { color: red; }
.powerDispatch .chart .warning, .powerDispatch .chart .warning .v { color: yellow; }
.powerDispatch .chart .data .s { width: 25px; height: 100px; transform:rotate(90deg) translate(75px,-75px); transform-origin: top left; }
.powerDispatch .chart .data .t { font-size: 120%px; font-weight: bold; top: -50px; word-break: keep-all; }

.statistics h3 { padding-top: 50px; font-weight: bold; font-size: 24px; border-bottom:1px solid rgba(60, 231, 218,1); padding-bottom: 20px; margin-bottom: 20px; }
.statistics p { margin:20px 0; font-size: 18px; }

.statistics .score { position: absolute; margin-top: 50px; width: 140px; height: 140px; padding-top: 30px; font-size: 120%; text-align: center;border: 5px solid rgba(255, 50, 50,1); color:rgba(255, 50, 50,1);  border-radius: 50%; }
.statistics .score b { display: block; font-size: 160%; font-weight:normal; }
.statistics .scoreDetail { margin-left: 170px; margin-top: 50px; font-size: 120%; }
.statistics .scoreDetail b { margin-bottom: 20px; }
.statistics .scoreText { margin-bottom: 30px; }
.statistics .scoreText .title { font-size: 100%; padding-left: 0px; }
.statistics .scoreText .title .badge { background:yellow; color: #000; }
.statistics .scoreText p { font-size: 14px; margin: 10px 0; padding-left: 30px; background: url('../images/menu_L_ggzm.png') left 4px no-repeat; background-size: 16px 16px; }

.mapBox { position: relative; }
.mapBox .address { text-align: center; width: 98%; height: 48px; line-height: 48px; background: rgba(11,9,37,.5); position: absolute; bottom: 0; }


/* 智慧消防 start*/
/* 监控中心 */
.overflow{
	overflow: hidden;
}
.fireWrap{
	font-size: 0.8vw;
}
.fireWrap .header{
	height: 7vh;
	margin-bottom: 4vh;
}
.fireWrap .header .center{
	font-size: 1.6vw;
}
.fireWrap .header .left,
.fireWrap .header .right{
	font-size: .8vw;
}
.fireNav li{
	float: right;
	margin-right: 2vw;
	cursor: pointer;
}
.fireNav .menu{
  margin-left: 10px;
	padding-bottom: 4px;
	font-size: 120%;
  font-weight: bold;
	border-bottom: 2px solid transparent;
}
.fireNav .menu:hover,
.fireNav .menu.active {
	border-bottom-color: #3CE7DA;
}
.fireSelect{
	padding-left: 1vw;
	min-width: 60%;
	color: #3CE7DA;
	font-size: 0.84vw;
	border: none;
	outline: none;
	background: transparent;
}
.fireSelect option{
	background: #033877;
	border: none;
}
.borderAndBg{
	padding: 1vw;
	border: 1px solid rgba(255,255,255,.3);
	background: rgba(60, 231, 218, 0.1);
	box-shadow: 0px 0px 5px rgba(1, 1, 1, 0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
  overflow: hidden;
}
.fireAside {
	width: 20vw;
	float: left;
}

.fireAside .fireAside1{
	margin-top: 20px;
	height: 24vh;
}
.fireAside .fireAside2{
	margin: 3vh 0;
	height: 16vh;
}
.fireAside .fireAside3{
	height: 32vh;
}
.fireAside .fireManage{
	overflow: hidden;
}
.fireAside .fireManageLeft{
	float: left;
	width: 40%;
}
.fireAside h4{
	font-size: 0.84vw;
	font-weight: 600;
}
.fireAside .fireManageLeft .circle{
	margin: 1vh 0;
	display: inline-block;
	width: 5.5vw;
	height: 5.5vw;
	line-height: 5.5vw;
	font-size: 2.5vw;
	font-weight: bold;
	text-align: center;
	border: 2px solid #3CE7DA;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.fireAside .fireManageRight p{
	margin: 1vh 0;
}
.fireAside .fireManageRight li{
}
.fireAside .fireController li {
	float: left;
	width: 33%;
}
.fireAside .fireController h4{
	margin-bottom: 1.5vh;
	
}
.fireAside .fireController p{
	margin-bottom: .5vh;
	font-size: 0.7vw;
}
.positionRelative{
	position: relative;
}
.fireAside .fireAside3 .abnormalTit{
	position: absolute;
	top: 1vw;
	left: 1vw;
}
.fireAside #abnormalChart{
	width: 100%;
	height: 30vh;
}
.fireContainer .fireContent{
	margin: 3.1vh 0;
	height: 50.1vh;
}
.fireContent .fireNotice,
.fireSystem .fireSystemItem .fireSystemItemBotttom,
.fireAsideReportList li{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;	
	align-items: center;	
}
.fireContent .fireNotice li{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.fireContent .fireNotice li,
.fireSystem .fireSystemItem .fireSystemCont,
.fireAsideReportList .rightCont{
	-webkit-flex: 1;
	flex: 1;
}
.fireSystem .fireSystemItem{
	float: left;
	width: 30%;
}
.fireSystem .fireSystemItem.mlr2{
	margin: 0 2vw;
}

.fireSystem .fireSystemItem .firePie{
	width: 8vw;
	height: 8vw;
	margin-right: 2vw;
}
.fireSystem .fireSystemItem h3{
	margin-bottom: 3vh;
	font-size: 0.84vw;
	font-weight: 600;
}

.fireSystem .fireSystemItem h4{
	margin-bottom: 2vh;
}
.fireSystem .fireSystemItem p{
	margin-bottom: .4vh;
	font-size: 0.7vw;
}


/* 应急预案 */
.firePlanAside,
.fireAsideReportCont,
.fireAsideDevice{
	margin-top: 20px;
	height: 80vh;
}
.firePlanAside{
		overflow-y: auto;
    position: relative;
}

.firePlanAside .fireLi {
  padding:0 5px 15px 15px;
  border-bottom:0.9px dashed rgba(255,255,255,.3);
}
.firePlanAside .fireLi:last-child { border: none; }
.firePlanAside .fireLi > div { clear: both; overflow: auto; margin-bottom: 10px; }
.firePlanAside .fireLi > div label {
  width: 50px; position: absolute; 
}
.firePlanAside .fireLi > div .cont {
  margin-left: 50px;
}
.firePlanAside .fireLi > div ul li { margin-bottom: 5px;  }


.firePlanAside li{
	margin-top: 2.5vh;
}

.firePlanAside p{
	margin-bottom: .3vh;
	font-size: 0.7vw;
}

.fireEmergencyProcess {
  margin: 30px 8px 15px;
  height: 20vh;
}
.fireEmergencyProcess h4 { font-size: 120%; font-weight: bold; margin: 0 10px; float: left; }
.fireEmergencyProcess img { max-width: 100%; max-height: 100%; float: right; }
.fireEmergencyFloor { height: 58vh; }
.fireEmergencyFloor .floor { height: 88%; }
.fireEmergencyPlan { height: 24vh; }
.fireEmergencyPlan .title button { margin: 0 20px; }
.fireEmergencyPlan .body {}
.fireEmergencyPlan .body img { max-width: 100%; max-height: 100%; height: 150px; }

.fireFloor .nav-tabs{
	border-bottom: none;
  height: 
}
.fireFloor .nav-tabs .nav-link{
	margin-right: 1vw;
	padding: 0;
	color: #3CE7DA;
	border: none;
	border-bottom: 2px solid transparent;
}
.fireFloor .nav-tabs .nav-link:hover,
.fireFloor .nav-tabs .nav-link.active{
	color: #3CE7DA;
	border-bottom-color: #3CE7DA;
	background-color: transparent;
}

.fireFloor .tab-content{
	margin-top: 2vh;
	height: 42vh;
}


/* 消防月报 */
.fireAsideReport{
	width: 18vw;
}
.fireAsideReportCont .fireSelect{
	padding-left: 0.5vw;
	width: 100%;
	height: 3.6vh;
	font-size: 0.8vw;
}
.fireAsideReportCont .fireSelect,
.fireAsideReportList li{
	border: 1px solid rgba(255,255,255,.5);
	background-color: rgba(255,255,255,.1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.fireAsideReportList{
	margin-top: 3vh;
	height: 70vh;
	overflow-y: auto;
}
.fireAsideReportList li{
	margin-bottom: 1.2vh;
	padding: 0.5vw;
	cursor: pointer;
}
.fireAsideReportList li.active,
.fireAsideReportList li:hover{
	background-color: rgba(255,255,255,.24);
}
.fireAsideReportList .leftCont{
	width: 4vw;
}
.fireAsideReportList .leftCont span{
	display: inline;
	font-size: 2vw;
	font-weight: bold;
}
.fireAsideReportList .leftCont i{
	display: inline;
	font-size: 1vw;
	font-style: normal;
	font-weight: 600;
}
.fireAsideReportList .rightCont h5{
	margin-bottom: 0.5vh;
}
.fireAsideReportList .rightCont span{
	font-size: 0.7vw;
}

.fireReportContainer{
	margin-left: 20vw;
	width: 77.6vw;
}
.fireReportWrap{
	margin-top: 3.1vh;
	height: 80.2vh;
	overflow-y: auto;
}
.fireReportWrap>div{
	margin-bottom: 2vh;
	padding-bottom: 2vh;
	background-color: rgba(255,255,255,.04);
}
.fireReportWrap .fireReportNav{
		padding: 0.6vw 1vw;
		font-size: 1vw;
		background-color: rgba(255,255,255,.15);
}
.fireReportWrap .fireReportDesc{
	padding: 1.5vh 0;
	font-size: 0.76vw;
	text-indent: 1vw;
	letter-spacing: 1px;
}
.fireReportWrap .table-responsive{
	margin-top: 2vh;
	padding: 0 1vw;
}
.fireReportWrap .table th{
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	font-size: 0.84vw;
	font-weight: normal;
	/* background-color: rgba(255,255,255,.05); */
	border-bottom: 1px solid rgba(255,255,255,.2);
}
.fireReportWrap .table td{
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	border: none;
}

.fireReportWrap .fireReport1{
	padding-left: 1vw;
	height: 22vh;
}
.fireReportWrap .fireReport2{
	padding-left: 1vw;
	height: 26vh;
}
.fireReportWrap .fireReport4{
	padding-left: 1vw;
	height: 30vh;
}

/* 消防设备 */
.fireAsideDevice{
	padding-left: 0.5vw;
	padding-right: 0.5vw;
}
.fireAsideDevice .firePrimaryMenu{
	float: left;
	width: 10.3vw;
	height: 100%;
	border-right: 1px solid rgba(255,255,255,0.2);
	
}
.fireAsideDevice .fireSecondaryMenu{
	float: right;
	width: 8.5vw;
	height: 100%;
}
.fireAsideDevice .firePrimaryMenu h3{
	font-size: 1vw;
	margin-bottom: 2vh;
}
.fireAsideDevice .fireSearch{
	margin-left: 0.8vw;
	height: 3vh;
	border: 1px solid rgba(255,255,255,.5);
	background: rgba(255,255,255,0.1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.fireAsideDevice .fireSearch input{
	padding-right: 0;
	width: 5.7vw;
	height: 100%;
	color: #3CE7DA;
	font-size: 0.8vw;
	background-color: transparent;
}
.fireAsideDevice .fireSearch .fa{
	width: 1.5vw;
	height: 2.8vh;
	line-height: 2.8vh;
	font-size: .8vw;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
}
.fireAsideDevice .fireSecondaryList{
	margin-top: 1.5vh;
	height: 70vh;
	overflow-y: auto;
}

.fireAsideDevice .firePrimaryMenuList li,
.fireAsideDevice .fireSecondaryList li{
	padding-top: 0.3vw;
	padding-bottom: 0.3vw;
	padding-left: 0.8vw;
	cursor: pointer;
}
.fireAsideDevice .firePrimaryMenuList li .fa,
.fireAsideDevice .fireSecondaryList li .fa{
	margin-right: 0.2vw;
}
.fireAsideDevice .firePrimaryMenuList li{
		padding-left: 0.5vw;
}
.fireAsideDevice .firePrimaryMenuList li.active{
	background-color: rgba(255,255,255,0.1);
}
.fireAsideDevice .fireSecondaryList li{
	font-size: 0.74vw;
}
.fireAsideDevice .firePrimaryMenuList li:hover,
.fireAsideDevice .fireSecondaryList li:hover{
	background-color: rgba(255,255,255,0.1);
}
.fireDeviceContainer{
	margin-top: 3.1vh;
	position: relative;
	padding: 0;
	height: 80.2vh;
}
.fireDeviceContainer .fireDeviceNav{
	position: absolute;
	top: 1vw;
	left: 1vw;
	z-index: 10;
	font-size: 0.9vw;
}
.fireDeviceContainer .fireDeviceSelect{
	position: absolute;
	top: 1vw;
	right: 1vw;
	z-index: 10;	
}
.fireDeviceContainer .fireDeviceSelect select{
	padding: 0.2vw 0.5vw;
	color: #3CE7DA;
	border: 1px solid rgba(255,255,255,.5);
	background-color: rgba(255,255,255,0.2);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.fireDeviceContainer .fireDeviceSelect option{
	background: #396a94;
	border: none;
}

/* 安全评分 */
.fireScoreWrap{
	margin-top: 3.1vh;
	width: 55.6vw;
}
.fireScoreWrap .fireScoreChart{
	margin-left: 12vw;
	float: left;
	width: 10vw;
	height: 10vw;
}
.fireScoreWrap .fireScoreIntro{
	margin-left: 23vw;
	padding-top: 3vh;
}
.fireScoreWrap .fireScoreIntro h3{
	font-size: 0.9vw;
}
.fireScoreWrap .fireScoreIntro ul{
	margin-top: 2vh;
	padding-top: 1vh;
	display: inline-block;
	border-top: 1px solid rgba(255,255,255,0.5);
}
.fireScoreWrap .fireScoreIntro li{
	margin-right: 1.4vw;
	float: left;
	text-align: center;
}
.fireScoreWrap .fireScoreIntro .fireScoreTotal1{
		color: rgba(255,255,255,0.5);
}
.fireScoreWrap .fireScoreIntro .fireScoreTotal3{
		color: #ee3b4d;
}
.fireScoreWrap .fireScoreIntro .fireScoreTotal4{
		color: #E6A23C;
}
.fireScoreWrap .fireScoreIntro P{
	margin-bottom: 0.1vh;
}
.fireScoreWrap .fireScoreCont{
	margin-top: 2vh;
}
.fireScoreWrap .fireScoreLeft{
	float: left;
	width: 27.2vw;
	height: 54vh;
}
.fireScoreWrap .fireScoreLeft h3{
	font-size: 0.9vw;
	margin-bottom: 2.5vh;
}
.fireScoreWrap .fireScoreLeft ul{
	height: 44vh;
	overflow-y: auto;
}
.fireScoreWrap .fireScoreCont li{
	padding: 1vw;
	margin-bottom: 1.5vh;
	background-color: rgba(255,255,255,0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.fireScoreWrap ul h4{
	font-size: 0.98vw;
}

.fireScoreWrap .fireScoreTips{
	text-align: right;
	margin-bottom: 1.5vh;
}
.fireScoreWrap .fireScoreTips span{
	padding: 0.1vw 0.5vw;
	margin-left: 0.5vw;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.fireScoreWrap .fireScoreTips span.error{
	color: #ee3b4d;
	background-color:rgba(238, 59, 77, .4);
}
.fireScoreWrap .fireScoreTips span.warning{
	color: #E6A23C;
	background-color:rgba(230, 162, 60, .4);
}
.fireScoreWrap p{
	padding-left: 1vw;
	margin-bottom: 0.3vh;
	line-height: normal;
}
.fireScoreWrap .fireScoreLeft .fireDot{
		display: inline-block;
		margin-left: 0.2vw;
		width: 0.5vw;
		height: 0.5vw;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
}
.fireScoreWrap .fireScoreLeft .fireDot.error{
	background-color: #ee3b4d;
}
.fireScoreWrap .fireScoreLeft .fireDot.warning{
	background-color: #E6A23C;
}
.fireScoreWrap .fireScoreRight{
	margin-left: 28.2vw;
	width: 27.2vw;
	height: 54vh;
	overflow-y: auto;
}
/* 智慧消防 end*/