
<!DOCTYPE html>
<html ng-app="app" ng-controller="loginCtrl">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
<title ng-bind="data.pageTitle"></title>
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/global.css">
<link rel="stylesheet" type="text/css" href="css/login.css" />
</head>
<body>
    <div id="particles-js"></div>
    <div class="wp">
        <div class="boardLogin">
            <h1>
                <img src="images/s_ico1.png">
                <span ng-bind="data.pageTitle"></span>
            </h1>
            <div>
                <div class="inpGroup">
                    <span class="loginIco1"></span>
                    <input type="text" autocomplete="off" placeholder="请输入您的用户名"
                        ng-model="data.username" date-keys>
                </div>
                <div class="prompt">
                    <p class="error">用户名错误或不存在</p>
                </div>
                
                <div class="inpGroup">
                    <span class="loginIco2"></span>
                    <input type="password" autocomplete="new-password" placeholder="请输入您的密码"
                        ng-model="data.password"
                        date-keys >
                </div>
                <div class="prompt">
                    <p class="success">输入正确</p>
                </div>
                
                <!-- <button class="submit">登录</button> -->
                <button class="animsition-link submit" ng-click="doLogin();">登录</button>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="js/libs/jquery.min.js"></script>
<script type="text/javascript" src="js/libs/particles.min.js"></script>

<script type="text/javascript" src="js/particlesInit.js"></script>
<script type="text/javascript" src="./js/libs/angular.js"></script>
<script type="text/javascript" src="js/comm.js"></script>

<script type="text/javascript">
var app = angular.module("app",[]);
app.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('{[{');
    $interpolateProvider.endSymbol('}]}');
}).directive('dateKeys', function () {
return {
    restrict: 'A',
        link: function (scope, element, attrs, controller) {
            element.on('keydown', function (event) {
                if (event.keyCode == 13) {
                    scope.doLogin();
                } else {
                    return true;
                }
            });
        }
    }
}).filter('trustAsResourceUrl', ['$sce', function($sce) {
    return function(val) {
        return $sce.trustAsResourceUrl(val);
    };
}]).controller('loginCtrl', function($scope) {

    $scope.is_debug = settings.is_debug;
    global.on_load_func();    // 加载隐藏div数据并保存到js的session变量

    $scope.$watch('$viewContentLoaded', function () {
        global.on_loaded_func($scope);    // 显示页面内容
    });

    $scope.data = {
        pageTitle: settings.pageTitle,

        data: {
            user: {},
            username: "",
            password: "",
        }
    }

    $scope.doLogin = function () {
        if($scope.data.username == "") {
            alert("请填写用户名.");
            return false;
        }
        if($scope.data.password == "") {
            alert("请填写密码.");
            return false;
        }
        var param = {
            _method: 'post',
            _url: settings.ajax_func.ajaxLogin,
            _param: {
                userName: $scope.data.username,
                password: $scope.data.password,
            }
        };
        global.ajax_data($scope, param, function (res) {
            var user = res.data;
            user.photo_url = user.photo_url ? user.photo_url : settings.default_photo;
            global.set_storage_key('session', [
                {
                    key: 'user',
                    val: user,
                }
            ]);
            $scope.data.user = user;
            $scope.getBuildingList();
        }, [], function (res) {
            if(res.message) {
                alert(res.message);
            }
        });
    }

    $scope.getBuildingList = function() {
        var param = {
            _method: 'post',
            _url: settings.ajax_func.ajaxGetUserBuildings,
            _param: {
                userId: $scope.data.user.id
            }
        };
        global.ajax_data($scope, param, function (res) {
            // 缓存用户建筑列表
            global.set_storage_key('session', [
                {
                    key: 'buildingList',
                    val: res.data,
                },
                {
                    key: 'building',
                    val: res.data[0],
                }
            ]);
            window.location.href = "./index.html";
        }, [], function (res) {
            if(res.message) {
                alert(res.message);
            }
        });
    }
});

</script>

</html>
