<div class="container innerPage energy">
    <div id="map"></div>

    <div ng-include="'pages/_components/nav/headerInner.html'"></div>

    <div class="clearfix"></div>
    <div class="content">
        <div class="col-3 innerLeft">
            <div ng-include="'pages/_components/nav/buildingChange.html'"></div>
            <ul class="block">
                <li class="title">
                    <span class="fa fa-bolt"></span>查询条件
                </li>
                <li class="search">
                    <p>选择统计周期</p>
                    <select class="form-control mr10"
                        ng-change="changeDisplayType();"
                        ng-model="data.chartType"
                        ng-options="t.name for t in data.chartTypes">
                    </select>
                    <p>选择开始时间</p>
                    <wui-date format="yyyy-mm-dd"
                          id="data_fromDate"
                          btns="{'ok':'确定','now':'现在'}"
                          ng-model="data.fromDate"></wui-date>
                    <!-- <input type="text" class="form-control datePicker" ng-model="data.fromDate"> -->
                    <p>选择结束时间</p>
                    <wui-date format="yyyy-mm-dd"
                          id="data_toDate"
                          btns="{'ok':'确定','now':'现在'}"
                          ng-model="data.toDate"></wui-date>
                    <!-- <input type="text" class="form-control mr10 datePicker" ng-model="data.toDate"> -->
                    <p>选择同比数据</p>
                    <select class="form-control"
                        ng-model="data.chartCompare"
                        ng-options="t.name for t in data.chartCompares" >
                    </select>
                    <button ng-click="refreshDatas();" class="submit"><spam class="glyphicon glyphicon-refresh"></spam> 提交</button>
                </li>
            </ul>
        </div>

        <div class="col-9 innerRight">
            <div ng-include="'pages/_components/nav/energyNav.html'"></div>

            <div class="block">
                <div class="title">
                    <span class="fa fa-area-chart"></span>
                    用能统计
                </div>
                <div class="body">
                    <div class="row summaryHeader">
                        <div class="col" ng-repeat="t in data.result.summaryDatas">
                            <div class="title">
                                <span class="pull-left" ng-bind="t.name"></span>
                                <span class="pull-right" ng-bind="t.unit"></span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="titleVal">
                                <span ng-bind="t.total | number:2"></span></span>
                            </div>
                            <hr/>
                            <p>
                                <span class="pull-left">本月</span>
                                <span class="pull-right" ng-bind="t.curMonth | number:2"></span>
                                <div class="clearfix"></div>
                            </p>
                            <p>
                                <span class="pull-left">上月</span>
                                <span class="pull-right" ng-bind="t.lastMonth | number:2"></span>
                                <div class="clearfix"></div>
                            </p>
                            <p>
                                <span class="pull-left">今年</span>
                                <span class="pull-right" ng-bind="t.curYear | number:2"></span>
                                <div class="clearfix"></div>
                            </p>
                            <p>
                                <span class="pull-left">去年</span>
                                <span class="pull-right" ng-bind="t.lastYear | number:2"></span>
                                <div class="clearfix"></div>
                            </p>
                        </div>
                    </div>

                    <hr />
                    <div class="chart">
                        <div id="summaryChart" class="echart"></div>
                    </div>

                    <hr />
                    <div class="table-responsive">
                        <table class="table table-hover table-inline" id="summaryTable">
                            <thead>
                            <tr>
                                <th ng-repeat="(k,n) in data.result.tableData.title" ng-bind="n"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="v in data.result.tableData.data">
                                <td ng-repeat="(k,n) in data.result.tableData.title"
                                    ng-bind="v[k]"></td>
                            </tr>
                            </tbody>
                        </table>
                        
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>