<div class="container innerPage energy">
    <div id="map"></div>

    <div ng-include="'pages/_components/nav/headerInner.html'"></div>

    <div class="clearfix"></div>
    <div class="content leftWidth">
        <div class="row">
            <div class="col-3 innerLeft">
                <div ng-include="'pages/_components/nav/buildingChange.html'"></div>
                <ul class="block leftNavP">
                    <li class="title">
                        <span class="fa fa-bolt"></span>电能监测
                    </li>
                    <li ng-class="data.subType=='' ? 'active' : ''"
                        ng-click="goto('energy');">
                        <span class="fa fa-bullseye"></span>
                        用能概述
                    </li>
                    <li ng-class="data.subType==subType ? 'active' : ''"
                        ng-repeat="subType in data.subTypes"
                        ng-click="changeSubType(subType);">
                        <span class="fa fa-bullseye"></span>
                        <span ng-bind="subType"></span>
                    </li>
                    <li ng-class="data.showType=='设备查看' ? 'active' : ''">
                        <span class="fa fa-bullseye"></span>
                        按设备查看
                    </li>
                    <li>
                        <span class="fa fa-circle-o"></span>
                        <span>价格计费</span>
                    </li>
                    <hr />
                    <li class="title">
                        <span class="fa fa-bolt"></span>查询条件
                    </li>
                    <li class="search">
                        <p>选择统计周期</p>
                        <select class="form-control mr10"
                            ng-change="changeDisplayType();"
                            ng-model="data.chartType"
                            ng-options="t.name for t in data.chartTypes">
                        </select>
                        <p>选择开始时间</p>
                        <wui-date format="yyyy-mm-dd"
                          id="data_fromDate"
                          btns="{'ok':'确定','now':'现在'}"
                          ng-model="data.fromDate"></wui-date>
                        <!-- <input type="text" class="form-control datePicker" ng-model="data.fromDate"> -->
                        <p>选择结束时间</p>
                        <wui-date format="yyyy-mm-dd"
                          id="data_toDate"
                          btns="{'ok':'确定','now':'现在'}"
                          ng-model="data.toDate"></wui-date>
                        <!-- <input type="text" class="form-control mr10 datePicker" ng-model="data.toDate"> -->
                        <p>选择同比数据</p>
                        <select class="form-control"
                            ng-model="data.chartCompare"
                            ng-options="t.name for t in data.chartCompares" >
                        </select>
                        <button ng-click="refreshDatas();" class="submit"><spam class="glyphicon glyphicon-refresh"></spam> 提交</button>
                    </li>
                </ul>
                <ul class="block leftNavC">
                    <li class="title">
                        <span ng-bind="data.subType"></span>
                    </li>
                    <li ng-show="data.result.itemGroups.length <= 0">没有数据</li>
                    <div ng-repeat="it in data.result.itemGroups"
                        ng-show="data.result.itemGroups.length > 0">
                        <li ng-click="changeItemGroup(it);"
                            ng-class="data.groupSelected.indexOf(it)>=0 ? 'active' : ''">
                            <span class="fa fa-folder-open-o" ng-show="data.groupSelected.indexOf(it)<0"></span>
                            <span class="fa fa-check" ng-show="data.groupSelected.indexOf(it)>=0"></span>
                            <span ng-bind="it.name"></span>
                        </li>
                        <ul>
                            <li ng-repeat="sit in it.childs"
                                ng-click="changeItemGroup(it, sit);"
                                ng-class="data.groupSelected.indexOf(sit)>=0 ? 'active' : ''">
                                <span class="fa fa-circle-o" ng-show="data.groupSelected.indexOf(sit)<0"></span>
                                <span class="fa fa-check" ng-show="data.groupSelected.indexOf(sit)>=0"></span>
                                <span ng-bind="sit.name"></span>
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>

            <div class="col-9 innerRight">
                <div ng-include="'pages/_components/nav/energyNav.html'"></div>
                <div class="block">
                    <div class="title">
                        <span class="fa fa-area-chart"></span>
                        用能概况
                    </div>
                    <div class="body">
                        <div class="row summaryHeader">
                            <div class="col" ng-repeat="t in data.result.summaryDatas"
                                ng-show="$index < 6">
                                <div class="title" ng-bind="t.name"></div>
                                <div class="titleVal">
                                    <span ng-bind="t.value"></span>
                                </div>
                                <!-- <p>
                                    <span class="pull-left">同比</span>
                                    <span class="pull-right" ng-bind="t.compare"></span>
                                </p> -->
                            </div>
                        </div>

                        <hr />
                        <div class="col-6">
                            <div id="summaryPieChart" class="echart"></div>
                        </div>
                        <div class="col-6">
                            <div id="dailyChart" class="echart"></div>
                        </div>
                        <div class="clearfix"></div>

                        <hr />
                        <div class="table-responsive">
                            <table class="table table-hover table-inline" id="summaryTable">
                                <thead>
                                    <tr>
                                        <th ng-repeat="(k,n) in data.result.tableData.title" ng-bind="n"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="v in data.result.tableData.data">
                                        <td ng-repeat="(k,n) in data.result.tableData.title"
                                            ng-bind="v[k]"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>