<div class="title">
    <span class="dropdown-toggle" data-toggle="dropdown">
        <span ng-bind="data.curBuilding.name"></span>
    </span>
    <div class="dropdown-menu">
        <li class=""
            ng-class="b.id == data.curBuilding.id ? 'active' : ''"
            ng-repeat="b in data.buildingList"
            ng-click="changeBuildingSelect(b);">
            <span ng-bind="b.name"></span>
        </li>
    </div>
</div>

<!-- 建筑选择弹框 -->
<div id="buildingList" class="modal fade in">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">选择建筑</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item"
                        ng-class="b.id == data.curBuilding.id ? 'active' : ''"
                        ng-repeat="b in data.buildingList"
                        ng-click="changeBuildingSelect(b);">
                        <span ng-bind="b.name"></span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-click="changeBuildingConfirm();" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- 建筑选择弹框 -->