<ul class="fireNav overflow">
    <li>
        <div class="menu" ng-class="{active: data.energyMenu=='energyScore'}" ng-click="goto('energyScore');">
            用能评分
        </div>
    </li>
    <li>
        <div class="menu" ng-class="{active: data.energyMenu=='energyPlan'}" ng-click="goto('energyPlan');">
            用能计划
        </div>
    </li>
    <li>
        <div class="menu" ng-class="{active: data.energyMenu=='energyStatistics'}" ng-click="goto('energyStatistics');">
            用能统计
        </div>
    </li>
    <li>
        <div class="menu" ng-class="{active: data.energyMenu=='energyDetail'}" ng-click="goto('energyDetail');">
            能耗分项
        </div>
    </li>
    <li>
        <div class="menu" ng-class="{active: data.energyMenu=='energy'}" ng-click="goto('energy');">
            用能概述
        </div>
    </li>
</ul>