<ul>
    <li>
        <div class="menu" ng-click="goto('monitoringCenter');">
            <span class="fa fa-bolt"></span>
            监测中心
        </div>
    </li>
    <li>
        <div class="menu" ng-click="goto('emergencyPlan');">
            <span class="fa fa-bolt"></span>
            应急预案
        </div>
    </li>
    <li>
        <div class="menu" ng-click="goto('fireFighterDevice');">
            <span class="fa fa-bolt"></span>
            消防设备
        </div>
    </li>
    <li>
        <div class="menu" ng-click="goto('fireFighterReport');">
            <span class="fa fa-bolt"></span>
            消防月报
        </div>
    </li>
    <li>
        <div class="menu" ng-click="goto('fireFighterScore');">
            <span class="fa fa-bolt"></span>
            安全评分
        </div>
    </li>
</ul>