<!-- 右侧菜单 -->
<div id="sideMenu">
    <span class="fa fa-list" id="sideMenuClosed" title="更多操作"></span>
</div>

<div id="sideMenuContainer">
    <div class="menu" ng-click="goto('home', '');">
        <span class="fa fa-reply-all"></span>
        返回首页
    </div>
    <div class="menu" ng-click="goto('device', 'tp=101');">
        <span class="fa fa-flag"></span>
        设备管理
    </div>
    <div class="menu" ng-click="goto('energy');">
        <span class="fa fa-bolt"></span>
        用能管理
    </div>
    <!-- <div class="menu" ng-click="goto('energyDetail');">
        <span class="fa fa-bolt"></span>
        电能分项
    </div> -->
    <div class="menu" ng-click="goto('statistics');">
        <span class="fa fa-info-circle"></span>
        管网安全
    </div>
    <div class="menu" ng-click="goto('device2', 'tp=101');">
        <span class="fa fa-users"></span>
        智慧消防
    </div>
    <div class="menu" ng-click="goto('camera', '');">
        <span class="fa fa-camera"></span>
        安防管理
    </div>
    <div class="menu" ng-click="goto('safeElectricity', '');">
        <span class="fa fa-glass"></span>
        报警管理
    </div>
    <div class="menu" ng-click="goto('statistics', 'tp=healty');">
        <span class="fa fa-heart"></span>
        健康评估
    </div>
    <div class="menu" ng-click="goto('settingsItem');">
        <span class="fa fa-asterisk"></span>
        系统设置
    </div>
</div>
<style type="text/css">
  #sideMenu {
    position: absolute;
    right: 15px;
    top: 8px;
    font-size: 160%;
    z-index: 29999999;
  }
  #sideMenuContainer {
    background: #002d58;
    border-left: 0.9px solid rgba(255,255,255,.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: 60px 10px 10px 10px;
    position: fixed;
    right: -150px;
    width: 150px;
    z-index: 19999999;
  }
  #sideMenuContainer > div {
    display: block;
    border: none;
    border-top: 1px solid rgba(60, 231, 218, 0.2);
    border-bottom: 1px solid rgba(60, 231, 218, 0.4); 
    text-indent: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 3.8;
    overflow: hidden;
    padding-right: 5px;
    text-shadow: 0 1px 2px rgba( 0, 0, 0, 0.5 );
    font-size: 100%;
  }
  #sideMenuContainer > div > .fa { margin-right:10px;  }
</style>

<script type="text/javascript">
    (function($){
        $.fn.sideToggle = function(options) {
            var settings = $.extend({
                moving : null, // which object to toggle?
                direction : null // toggle from this side of the window
            }, options);
            return this.click(function(){
                var thisDir = {};
                var moveThis = settings.moving;
                var dirPos = parseInt($(moveThis).css(settings.direction), 10);
                var menuWidth = $(moveThis).outerWidth();
                if (isNaN(dirPos)) {
                    console.log("Please define the object's position in the css.");
                }
                if (dirPos === 0) {
                    thisDir[settings.direction] = -menuWidth;
                    $(moveThis).animate(thisDir);
                } else {
                    thisDir[settings.direction] = 0;
                    $(moveThis).animate(thisDir);
                }
            });
        }
    }(jQuery));

    // 代码执行
    $(document).ready(function(){
        $('#sideMenu').sideToggle({
            moving: '#sideMenuContainer',
            direction: 'right'
        });
        $("#actionMenu").on("click", function(ev){
            var oEvent = ev || event;
            oEvent.cancelBubble = true;
            oEvent.stopPropagation();
        });
    });
</script>
<!-- 右侧菜单 -->

